[Desktop Entry]
Type=Application
Name=OrionBE Launcher
Comment=Minecraft Bedrock launcher (OrionBE)
Exec=OrionBe
Icon=orionbe-launcher
Terminal=false
Categories=Utility;
